/*----------------
    DEBUG
------------------*/
.debug .container {
    border: 2px dashed blueviolet;
}

.debug .row .col {
    border: 2px dashed lightcoral;
    background-color: rgba(240, 128, 128, 0.2);
    min-height: 200px;
}

/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/
.img-fluid {
    max-width: 100%;
}

/*----------------
    LAYOUT
------------------*/
.container-lg {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.left.gap-40 {
    gap: 40px;
}

.col {
    flex-grow: 1;
}

/*----------------
    TYPOGRAPHY
------------------*/
body {
    font-family: "Open Sans", sans-serif;
}

/*----------------
    BUTTONS
------------------*/
.btn {
    background-color: transparent;
    font-family: inherit;
    border: none;
    padding: 6px 15px;
    cursor: pointer;
    font-size: inherit;
}

.btn-large {
    padding: 10px 20px;
    font-size: 16px;
}

.btn-primary {
    background-color: #0061FE;
    color: #fff;
}

/*----------------
    HEADER
------------------*/
header {
    background-color: #fff;
    color: black;
    position: sticky;
    left: 0;
}

header.row {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header nav,
header nav ul {
    display: flex;
}


header nav ul li{
    list-style: none;
    display: flex;
    padding-right: 40px; 
    align-items: center;
}

header a{
    text-decoration: none;
    color: inherit;
} 
 header .logo{
    padding: 4px 40px 0 0;
}

/*----------------
    MAIN
------------------*/

/*----------------
    FOOTER
------------------*/